html {
    height: 100%;
}
body {
    height: 100%;
    font-family: Arial, SansSerif, serif;
}
body .modeler {
    height: inherit;
}
body .modeler #canvas {
    height: inherit;
}
.bjs-powered-by {
    display: block;
}

.navbar-editor {
    background-color: #0275d8 !important;
}

.navbar-editor .navbar-brand {
    color: #EEEEEE;
}